<app-filter-search 
    [first]="first"
    [rows]="rows"
    [roles]="roles"
    [wantRoleFilter]="true"
    (searchEmitter)="search($event)"
    >
</app-filter-search>

<app-shared-toolbar 
[createRole]="'orunbasar'"
    (createEmitter)="createObj()" 
    (searchEmitter)="search()">
</app-shared-toolbar>

<p-table [value]="users" styleClass="p-datatable-striped p-datatable-gridlines"
    [rowHover]="true" [loading]="loading" [resizableColumns]="true" columnResizeMode="expand"
    [tableStyle]="{'min-width': '70rem'}">

    <ng-template pTemplate="caption">
        <div style="display: flex; justify-content: center">
            <div style="font-size: xx-large;">Işgärler</div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>Ulanyjy Ady</th>
            <th>Ady</th>
            <th>Familiýasy</th>
            <th>Rugsady</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.role_name}}</td>
            <td class="action-column">
                <app-action-buttons 
                    [obj]="user" 
                    [wantEdit]="true"
                    [wantDelete]="true"
                    (updateEmitter)="updateObj($event)" 
                    (deleteEmitter)="deleteObj($event)">
                </app-action-buttons>
            </td>
        </tr>
    </ng-template>
</p-table>
    
<app-shared-paginator 
    [first]="first" 
    [rows]="rows" 
    [totalRecords]="totalRecords" 
    (onPageChangeEmitter)="onPageChange($event)">
</app-shared-paginator>

<p-toast position="bottom-right" [life]="10000" />
<p-confirmDialog />