<div class="landing-page">
    <header class="hero">
        <div class="hero-content">
            <h1>Gurluşyk Dükany Dolandyryş Ulgamy</h1>
            <p>Stoklaryňyzy, üpjün edijileriňizi we müşderi sargytlaryňyzy aňsatlyk bilen dolandyryň.</p>
            <!-- <button pButton onclick="location.href='/register'" class="p-button-raised p-button-primary">Häzir Goşul</button> -->
            <button pButton onclick="location.href='/login'" class="p-button-raised p-button-secondary">Giriş</button>
        </div>
    </header>

    <main class="content">

        <section class="section"></section>
            <i class="pi pi-users"></i>
            <h2>Harytlar</h2>
            <p>Haryt maglumatlary eliň aýasynda duran ýaly aňsat tapylsyn.</p>
        </section>
        
        <section class="section">
            <i class="pi pi-tags"></i>
            <h2>Müşderi Sargytlary</h2>
            <p>Müşderi söwdasyny, algy-bergilerini işjep dolandyryň.</p>
        </section>

        <section class="section">
          <i class="pi pi-tags"></i>
          <h2>Dükan Çykajylary</h2>
          <p>Aýlyk, salgyt tölegi, edara tölegleri yaly çykdajylary aňsat yzarlaň.</p>
      </section>

        <section class="section">
            <i class="pi pi-box"></i>
            <h2>Stok Dolandyryşy</h2>
            <p>Stok derejesini yzarlap, inwentarizasiýaňyzy netijeli dolandyryň.</p>
        </section>

        <section class="section">
            <i class="pi pi-truck"></i>
            <h2>Üpjün Edijiler</h2>
            <p>Üpjün edijileriňiz bilen gatnaşyklary we sargytlary dolandyryň.</p>
        </section>

        <section class="section"></section>
            <i class="pi pi-users"></i>
            <h2>Işgär rollary</h2>
            <p>Hemme işgärleriň sistema girip özüne gerekli zatlary görüp bilsin.</p>
        </section>

    </main>
</div>