<app-filter-search 
    [first]="first"
    [rows]="rows"
    (searchEmitter)="search($event)"
    >
</app-filter-search>

<app-shared-toolbar 
[createRole]="'orunbasar'"
    (createEmitter)="createObj()" 
    (searchEmitter)="search()">
</app-shared-toolbar>


<p-table [columns]="selectedColumns" [value]="ceks" styleClass="p-datatable-striped p-datatable-gridlines"
    [rowHover]="true" [loading]="loading" [resizableColumns]="true" columnResizeMode="expand"
    [tableStyle]="{'min-width': '70rem'}">
    <ng-template pTemplate="caption">
        <div style="display: flex; justify-content: space-between;">
            <div style="font-size: xx-large;">Çekler</div>
            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                selectedItemsLabel="{0} sütün saýlandy" placeholder="Sütün saýlaň" />
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>NO</th>
            <th>Müşderi</th>
            <th>Telekeçi</th>
            <th>Satyn Alyş/Satyş</th>
            <th>Nesýemi?</th>
            <th>Möçber</th>
            <th>Senesi</th>
            <th pResizableColumn *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th>Senesi</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cek let-columns="columns">
        <tr>
            <td>{{cek.no}}</td>
            <td>
                <div *ngIf="cek.partner_type == 'CLIENT'">
                    {{cek.client_obj?.first_name}} {{cek.client_obj?.last_name}}
                </div>
            </td>
            <td>
                <div *ngIf="cek.partner_type == 'SUPPLIER'">
                    {{cek.supplier_obj?.first_name}} {{cek.supplier_obj?.last_name}}
                </div>
            </td>
            <td>
                <div *ngIf="cek.cek_type == 'SATYS'">
                    SATYŞ
                </div>
                <div *ngIf="cek.cek_type == 'SATYN_ALYS'">
                    SATYN ALYŞ
                </div>
            </td>
            <td>
                <div *ngIf="cek.is_nesye == true">
                    NESÝE
                </div>
                <div *ngIf="cek.is_nesye == false">
                    NAGT
                </div>
            </td>
            <td>{{cek.amount}}</td>
            <td>{{cek.date}}</td>
            
            <td *ngFor="let col of columns">
                {{cek[col.field]}}
            </td>
            
            <td class="action-column">
                <app-action-buttons 
                    [obj]="cek" 
                    [wantEdit]="true"
                    [wantDelete]="true"
                    (updateEmitter)="updateObj($event)" 
                    (deleteEmitter)="deleteObj($event)">
                </app-action-buttons>
            </td>
        </tr>
    </ng-template>
</p-table>

    
<app-shared-paginator 
    [first]="first" 
    [rows]="rows" 
    [totalRecords]="totalRecords" 
    (onPageChangeEmitter)="onPageChange($event)">
</app-shared-paginator>


<p-toast position="bottom-right" [life]="10000"/>
<p-confirmDialog />