.next-prev-button {
    margin-top: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .next-prev-button .pi {
    font-size: 1.5em;
    color: #007bff; /* Change this color as per your requirement */
  }